[package]
name = "webb-client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = { version = "1.9.0", features = ["attributes", "tokio1"] }
subxt = { version = "0.17.0" }
codec = { package = "parity-scale-codec", version = "2.2.0", default-features = false, features = ["derive", "full", "bit-vec"] }

[dev-dependencies]
serde = { version = "1.0.119" }
sp-keyring = "5.0.0"
hex = "0.4"
tokio = { version = "1.17.0", features = ["full"] }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }

# arkworks related deps
ark-bls12-377 = {version = "^0.3.0", default-features = false, features = ["curve", "r1cs"]}
ark-bls12-381 = {version = "^0.3.0", default-features = false, features = ["curve"]}
ark-bn254 = {version = "^0.3.0", default-features = false, features = ["curve"]}
ark-crypto-primitives = {version = "^0.3.0", features = ["r1cs"], default-features = false}
ark-ec = {version = "^0.3.0", default-features = false}
ark-ff = {version = "^0.3.0", default-features = false}
ark-relations = {version = "^0.3.0", default-features = false}
ark-serialize = {version = "^0.3.0", default-features = false, features = ["derive"]}
ark-std = {version = "^0.3.0", default-features = false}

# webb deps
# wasm-utils = { version = "0.1.3" }
wasm-utils = { path = "../../webb.js/packages/wasm-utils" }
webb-primitives = { path = "../primitives", features = ["hashing", "verifying", "field_ops"] }
# arkworks-setups = { version = "1.0.0", features = ["r1cs"], default-features = false }
arkworks-setups = { path = "../../arkworks-gadgets/arkworks-setups", default-features = false, features = ["r1cs"] }
# arkworks-native-gadgets = { version = "1.0.0", default-features = false }
arkworks-native-gadgets = { path = "../../arkworks-gadgets/arkworks-native-gadgets", default-features = false }
