[profile.release]
panic = "unwind"
codegen-units = 1

[workspace]
members = [
	"node",
	"pallets/*",
	"runtime",
	"standalone/*",
	"open-runtime-module-library/currencies",
	"open-runtime-module-library/tokens",
	"open-runtime-module-library/traits",
	"open-runtime-module-library/utilities",
]

# exclude = ["pallets/vanchor"]